.elementor-225 .elementor-element.elementor-element-9846e14>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-225 .elementor-element.elementor-element-9846e14:not(.elementor-motion-effects-element-type-background), .elementor-225 .elementor-element.elementor-element-9846e14>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-cfa1f76) 0%, var(--e-global-color-text) 100%);
}

.elementor-225 .elementor-element.elementor-element-9846e14 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2em 0em 0em 0em;
}

.elementor-225 .elementor-element.elementor-element-9846e14>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-225 .elementor-element.elementor-element-e947623 {
    padding: 5em 0em 7em 0em;
}

.elementor-225 .elementor-element.elementor-element-fcd069e>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-225 .elementor-element.elementor-element-37089ab>.elementor-container {
    max-width: 720px;
}

.elementor-225 .elementor-element.elementor-element-11200e7>.elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-225 .elementor-element.elementor-element-b76c318 {
    text-align: center;
}

.elementor-225 .elementor-element.elementor-element-a05dc8e {
    text-align: center;
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-item {
    border-width: 1px;
    border-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-item .elementor-tab-content {
    border-width: 1px;
    border-top-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-item .elementor-tab-title.elementor-active {
    border-width: 1px;
    border-bottom-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-tab-title {
    background-color: var(--e-global-color-text);
    padding: 28px 28px 28px 28px;
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-icon, .elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-title {
    color: var(--e-global-color-secondary);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-active .elementor-accordion-icon, .elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-active .elementor-accordion-title {
    color: var(--e-global-color-d49ac81);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-d49ac81);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-title {
    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-tab-title .elementor-accordion-icon i:before {
    color: var(--e-global-color-primary);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-tab-title .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
    color: var(--e-global-color-bb890b8);
}

.elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-bb890b8);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-item {
    border-width: 1px;
    border-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-item .elementor-tab-content {
    border-width: 1px;
    border-top-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-item .elementor-tab-title.elementor-active {
    border-width: 1px;
    border-bottom-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-tab-title {
    background-color: var(--e-global-color-text);
    padding: 28px 28px 28px 28px;
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-icon, .elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-title {
    color: var(--e-global-color-secondary);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-active .elementor-accordion-icon, .elementor-225 .elementor-element.elementor-element-4182038 .elementor-active .elementor-accordion-title {
    color: var(--e-global-color-d49ac81);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-d49ac81);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-title {
    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-tab-title .elementor-accordion-icon i:before {
    color: var(--e-global-color-primary);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-tab-title .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
    color: var(--e-global-color-bb890b8);
}

.elementor-225 .elementor-element.elementor-element-4182038 .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-bb890b8);
}

.elementor-225 .elementor-element.elementor-element-8574e5c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-225 .elementor-element.elementor-element-8574e5c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-225 .elementor-element.elementor-element-6157723:not(.elementor-motion-effects-element-type-background), .elementor-225 .elementor-element.elementor-element-6157723>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-cfa1f76);
}

.elementor-225 .elementor-element.elementor-element-6157723, .elementor-225 .elementor-element.elementor-element-6157723>.elementor-background-overlay {
    border-radius: 5px 5px 5px 5px;
}

.elementor-225 .elementor-element.elementor-element-6157723 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-225 .elementor-element.elementor-element-6157723>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-225 .elementor-element.elementor-element-8e6b99d>.elementor-element-populated {
    padding: 3em 3em 3em 3em;
}

.elementor-225 .elementor-element.elementor-element-de422dc .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-225 .elementor-element.elementor-element-de422dc .elementor-button .elementor-button-content-wrapper {
    gap: 7px;
}

.elementor-225 .elementor-element.elementor-element-116239f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-225 .elementor-element.elementor-element-3d4f3e1>.elementor-widget-container {
    margin: -5em 0em 0em 0em;
}

.elementor-225 .elementor-element.elementor-element-8d75759>.elementor-container {
    max-width: 720px;
}

.elementor-225 .elementor-element.elementor-element-8d75759 {
    padding: 5em 0em 5em 0em;
}

.elementor-225 .elementor-element.elementor-element-7ef7983>.elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-225 .elementor-element.elementor-element-8ddda70 {
    text-align: center;
}

.elementor-225 .elementor-element.elementor-element-4417f53 {
    text-align: center;
}

.elementor-225 .elementor-element.elementor-element-a220903 .elementor-button {
    fill: var(--e-global-color-d49ac81);
    color: var(--e-global-color-d49ac81);
    background-color: #02010100;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-d49ac81);
}

.elementor-225 .elementor-element.elementor-element-a220903 .elementor-button:hover, .elementor-225 .elementor-element.elementor-element-a220903 .elementor-button:focus {
    color: var(--e-global-color-332724a);
    border-color: var(--e-global-color-332724a);
}

.elementor-225 .elementor-element.elementor-element-a220903 .elementor-button:hover svg, .elementor-225 .elementor-element.elementor-element-a220903 .elementor-button:focus svg {
    fill: var(--e-global-color-332724a);
}

@media(max-width:1024px) {
    .elementor-225 .elementor-element.elementor-element-9846e14 {
        padding: 2em 1em 2em 1em;
    }

    .elementor-225 .elementor-element.elementor-element-e947623 {
        padding: 1em 0em 5em 0em;
    }

    .elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-title {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-title {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-225 .elementor-element.elementor-element-8e6b99d>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }

    .elementor-225 .elementor-element.elementor-element-3d4f3e1>.elementor-widget-container {
        margin: -2em 0em 0em 0em;
    }

    .elementor-225 .elementor-element.elementor-element-8d75759 {
        padding: 1em 0em 1em 0em;
    }
}

@media(max-width:767px) {
    .elementor-225 .elementor-element.elementor-element-9846e14 {
        padding: 0em 0em 0em 0em;
    }

    .elementor-225 .elementor-element.elementor-element-c3bda68>.elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-225 .elementor-element.elementor-element-dbd02f0 {
        text-align: center;
    }

    .elementor-225 .elementor-element.elementor-element-7c134ec {
        text-align: center;
    }

    .elementor-225 .elementor-element.elementor-element-e947623 {
        padding: 1em 0em 2em 0em;
    }

    .elementor-225 .elementor-element.elementor-element-09a22f7 .elementor-accordion-title {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-225 .elementor-element.elementor-element-4182038 .elementor-accordion-title {
        font-size: var(--e-global-typography-520c191-font-size);
        line-height: var(--e-global-typography-520c191-line-height);
        letter-spacing: var(--e-global-typography-520c191-letter-spacing);
        word-spacing: var(--e-global-typography-520c191-word-spacing);
    }

    .elementor-225 .elementor-element.elementor-element-b5eb611 {
        text-align: center;
    }

    .elementor-225 .elementor-element.elementor-element-22ca93c {
        text-align: center;
    }

    .elementor-225 .elementor-element.elementor-element-3d4f3e1>.elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }
}

@media(min-width:768px) {
    .elementor-225 .elementor-element.elementor-element-c3bda68 {
        width: 40%;
    }

    .elementor-225 .elementor-element.elementor-element-b47e582 {
        width: 60%;
    }

    .elementor-225 .elementor-element.elementor-element-8e6b99d {
        width: 60%;
    }

    .elementor-225 .elementor-element.elementor-element-116239f {
        width: 40%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-225 .elementor-element.elementor-element-c3bda68 {
        width: 45%;
    }

    .elementor-225 .elementor-element.elementor-element-b47e582 {
        width: 55%;
    }

    .elementor-225 .elementor-element.elementor-element-8e6b99d {
        width: 55%;
    }

    .elementor-225 .elementor-element.elementor-element-116239f {
        width: 45%;
    }
}